@CHARSET "ISO-8859-1";

body {
	background-color: #CCCCCC;
	color: #000000;
}

h1 {
	font-size: 18pt;
	font-weight: bold;
	color: #0000FF;
}

h2 {
	font-size: 14pt;
	font-style: normal;
	color: #000080;
}

p.center {
	text-align: center;
}

h1.center {
	text-align: center;
}

div.center {
	text-align: center;
}

td.right {
	text-align: right;
	}
	
td.title {
	text-align: center;
	font-weight: bold;
	}


.rodape {
	font-size: 6pt/color :   #000080;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #FFFF00;
	text-align: center;
}

.preco {
	color: #006600
}

.frete {
	color: #0000ff
}

.titulo {
	font-size: 14pt;
}

.aviso {
	border: thin solid black;
	font-size: 12pt;
	font-weight: bold;
	color: #000000;
	background-color: #ffff00;
	.
}

.erro {
	font-size: 14pt;
	color: #FF0000;
}

.fmtDireita {
	font-style: normal;
	color: #000000;
	text-align: right;
}

.fmtEsquerda {
	font-style: normal;
	color: #000000;
	text-align: left;
}