<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mltech"
    android:versionCode="1"
    android:versionName="2.0" >

    <uses-sdk android:minSdkVersion="10" />

    <!-- Permissão do uso da Camera -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permissão para gravar arquivos no dispositivo de armazenamento externo -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Declaração de features requeridas pela aplicação -->
    <uses-feature android:name="android.hardware.camera" />

    <application android:icon="@drawable/ic_launcher" >
        <activity
            android:name=".FotoEventoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParticipanteActivity"
            android:label="Cadastrar Usuários" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RelatorioActivity"
            android:label="Relatórios" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventoActivity"
            android:label="Cadastro de Eventos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenciasActivity"
            android:label="Cadastro de Preferências" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContratanteActivity"
            android:label="Cadastro de Contratante" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login de acesso a telas protegidas" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManutencaoActivity"
            android:label="Manutencao das informaçõea da aplicação" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- configura esta activity para usar orientacao landscape -->

        <activity
            android:name=".CameraActivity"
            android:label="Câmera"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraSimples"
            android:label="Câmera Simples fornecida pelo Android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DummyActivity"
            android:label="Câmera Simples fornecida pelo Android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DummyActivity2"
            android:label="Câmera Simples fornecida pelo Android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DummyActivity3"
            android:label="Câmera Simples fornecida pelo Android" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCameraSimplesDummy"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExibeFotoActivity"
            android:label="Exibe uma foto na tela" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestCameraActivity"
            android:label="Testa o funcinamento da activity CameraActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SplashScreenActivity"
            android:label="Splash Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>